<!DOCTYPE html>
<html>
<title>Logout SUcessfully</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body background="https://s-media-cache-ak0.pinimg.com/originals/02/9f/cc/029fcc2433166e932786ceaf281e1181.jpg">
<div class="container-fluid" style="margin-left:0% ;margin-top:15% ;text-align:center">
<font size=7>Logged in sucessfully</font>
<br>
<!-- <a href=" {% url 'youtube:login' %} ">login </a> or -->
<a href="{% url 'youtube:index' %}"> watch here</a>
</div>

</body>
</html>